project/node_modules
project/public/build
project/public/hot
project/public/storage
project/storage/*.key
project/vendor
project/.env.backup
project/.phpunit.result.cache
project/Homestead.json
project/Homestead.yaml
project/auth.json
project/npm-debug.log
project/yarn-error.log
/.idea
/.vscode
project/.gitattributes
project/.gitignore
project/README.md